@import 'variables';

.card-course-item {
    margin-top: 16px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

.table {
    margin-top: 16px;
}

.checkbox-select-all-options{
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}
