<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">ONLINE VIDEO BOOK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src = "https://2.bp.blogspot.com/-aaoBAD0oaCE/W4U8yS6IbhI/AAAAAAAAxCs/SzX5yh86cGciys5ZlBrZG6ECuVvTXkmmwCLcBGAs/s640/hinh-nen-dien-thoai-trai-han-quoc-1.jpg" class="user-avatar"></img>
                        Công Trần
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/books/create">Thêm sách</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/books">Sách của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>